@page "/Waiter"
@using As.Zavrsni.Aplication.Products.Model
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups

<div class="text-3xl font-bold mb-4 text-center">
    Dobrodošli
</div>
<div >
    <button class="py-2 px-4 text-black hover:bg-red-600  bg-red-300 rounded" @onclick="() => Logout()">Logout</button>
</div>
<div class="flex justify-center mb-4">
    <button class="py-2 px-4 bg-green-500 text-black rounded mx-2" @onclick='() => OnProductTypeChange("Hrana")'>Hrana</button>
    <button class="py-2 px-4 bg-blue-500 text-black rounded mx-2" @onclick='() => OnProductTypeChange("Pica")'>Pića</button>
    <button class="py-2 px-4 bg-gray-500 text-black rounded mx-2" @onclick="() => OnProductTypeChange(null)">Sve</button>
    <button class="relative bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" @onclick="NavigateToNotificationsPage">
        Notifikacije
        @if (UnreadNotificationsCount > 0)
        {
            <span class="absolute top-0 right-0 -mt-2 -mr-2 inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-600 rounded-full">
                @UnreadNotificationsCount
            </span>
        }
    </button>
</div>


<div class="flex">
    
    <div class="flex-1">
        <SfGrid DataSource="@filteredProducts" AllowFiltering="true">
            <GridColumns>
                <GridColumn Field="@nameof(ProductsModel.ProductName)" HeaderText="Proizvod" Width="150"></GridColumn>
                <GridColumn Field="@nameof(ProductsModel.ProductType)" HeaderText="Vrsta" Width="150"></GridColumn>
                <GridColumn Field="@nameof(ProductsModel.Quantity)" HeaderText="Količina" Width="100"></GridColumn>
                <GridColumn Field="@nameof(ProductsModel.ExpiryDate)" HeaderText="Rok trajanja" Format="dd/MM/yyyy" Width="150"></GridColumn>
                <GridColumn HeaderText="Select" Width="100" TextAlign="TextAlign.Center">
                    <Template>
                        @{
                            var product = context as ProductsModel;
                            var hasDuplicates = Products.Where(x => x.Quantity > 0).Count(p => p.ProductName == product.ProductName) > 1;
                        }
                        @if (hasDuplicates)
                        {
                            <SfButton CssClass="e-warning" Content="⚠️" @onclick="() => ShowWarningDialog(product.ProductName)" />
                        }
                        <button class="py-2 px-4 bg-blue-500 text-black rounded" @onclick="() => SelectProduct(product)">Select</button>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>

    <div class="flex-1 ml-4">
        <div class="p-4 border border-gray-200 rounded">
            <h2 class="text-xl font-bold mb-4">Order Product</h2>
            @if (selectedProduct != null)
            {
                <div>
                    <label class="block text-sm font-medium mb-2">Product Name: @selectedProduct.ProductName</label>
                    <label class="block text-sm font-medium mb-2">Quantity:</label>
                    <SfNumericTextBox TValue="int" @bind-Value="OrderQuantity" Min="1" Max="@selectedProduct.Quantity" Placeholder="Unesi količinu"></SfNumericTextBox>
                    <button class="mt-4 py-2 px-4 bg-blue-500 text-black rounded" @onclick="AddProductToOrder">Dodaj narudžbu</button>
                </div>
            }
            <h3 class="text-lg font-bold mt-4">Selected Products</h3>
            <ul>
                @foreach (var item in orderItems)
                {
                    <li class="flex justify-between mb-2">
                        <span>@item.ProductName - Quantity: @item.Quantity</span>
                        <button class="ml-4 py-1 px-2 bg-red-500 text-black rounded" @onclick="() => RemoveProductFromOrder(item)">Izbriši</button>
                    </li>
                }
            </ul>
            <button class="mt-4 py-2 px-4 bg-green-500 text-black rounded" @onclick="SubmitOrder">Naruči</button>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="mt-2 text-red-500">@errorMessage</div>
            }
        </div>
    </div>
</div>

<SfToast @ref="toast" Timeout="5000" Title="Low Stock Alert" Content="@toastMessage">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
</SfToast>

  <SfDialog @bind-Visible="isWarningDialogVisible" Width="500px" Header="Proizvodi" ShowCloseIcon="true">
    <div>
        <h4>Proizvodi:</h4>
        <ul>
            @foreach (var product in DuplicateProducts)
            {
                <li>@product.ProductName količina @product.Quantity  datum isteka roka je @product.ExpiryDate?.ToString("d")</li>
            }
        </ul>
        <SfButton CssClass="e-primary" Content="Close" @onclick="CloseWarningDialog" />
    </div>
</SfDialog>